---
layout: default
---

{% for post in paginator.posts %}
  <article class="commonplace-post">

  {% if post.type == 'text' %}
      {% include text.html %}
  {% endif %}

  {% if post.type == 'image' %}
    {% include image.html %}
  {% endif %}

  {% if post.type == 'video' %}
    {% include video.html %}
  {% endif %}
   
  {% if post.type == 'quote' %}
    {% include quote.html %}
  {% endif %}

  {% if post.type == 'link' %}
    {% include link.html %}
  {% endif %}
  <a href="{{ post.url }}">
    <time datetime="{{ post.date | %Y-%m-%d %H:%M }}" pubdate>{{ post.date | date: "%B %-d, %Y %I:%M %p" }}</time>
  </a>
</article>
{% endfor %}

<p class="pagination">
{% if paginator.previous_page %}
  <a href="/detritus/page{{ paginator.previous_page }}" class="prev-page">Previous</a>
  {% else %}
{% endif %}
<span class="page-num">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
{% if paginator.next_page %}
   <a href="/detritus/page{{ paginator.next_page }}" class="next-page">Next</a>
  {% else %}
{% endif %}
</p>