---
layout: default
---
<div class="post">

    <article class="commonplace-post">

  {% if page.type == 'text' %}
      {% include text.html %}
  {% endif %}

  {% if page.type == 'image' %}
    {% include image.html %}
  {% endif %}

  {% if page.type == 'video' %}
    {% include video.html %}
  {% endif %}
   
  {% if page.type == 'quote' %}
    {% include quote.html %}
  {% endif %}

  {% if page.type == 'link' %}
    {% include link.html %}
  {% endif %}
  <a href="{{ post.url }}">
    <time datetime="{{ post.date | %Y-%m-%d %H:%M }}" pubdate>{{ post.date | date: "%B %-d, %Y %I:%M %p" }}</time>
  </a>
</article>

</div>